

body {
    font-family: 'Open Sans', sans-serif;
    color: darkgray;
    line-height: 1.5;
}
/* todos a links nao tem mais sublinhado*/
a {
    transition: color .2s linear;
    text-decoration: none;
    border-bottom: 1px solid;
}
a:hover {
    border-bottom-color: transparent;

}
 h1, h2, h3, h4, h5, h6{
    color: #787878;
    margin: 0 0 24px 0;
    
 }
/* eu refiz essa linha de code e funcionou*/
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    background-image: url(../imgs/overlay.png) , url(../imgs/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    box-sizing: border-box;
    text-align: right;
}


.main-header-title {
    font-style: 14px;
    line-height: 1.5;
    color: white;
    font-weight: normal;
    color: rgba(255, 255, 255 , .5);
}
.main-header-title strong {
    color: white;
}
.main-header-link {
    color: inherit;
    font-weight: normal;
}
.main-header-link:hover{
    color: #49bf9d;
}


/* esse 65% é sobra do body que esta com usando 35%*/
.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 126px 54px 72px;
    box-sizing: border-box;
}

